{% extends 'base.html.twig' %}

{% block title %}Inscription - Jordan{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center mt-3 mb-3">INSCRIPTION</h1>

    {{ form_errors(registrationForm) }}

    <div class="container">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-jordan">s'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
