{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Nos produits! Votre style!</h1>

        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ product.picture }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    {% if product.sales == 1 %}
                        <p>{{product.price}} €</p>
                        <p>{{product.salePrice}} €</p>
                    {% endif %}
                    <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">Voir le produit</a>
                </div>
            </div>
        {% endfor %}




{% endblock %}
