{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
        {% for user in users %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">{{user.name}} {{user.firstName}}</h3>
                <h5 class="card-subtitle mb-2 text-body-secondary">{{user.email}}</h5>
                <h5 class="card-subtitle mb-2 text-body-secondary">{{user.phoneCode}}{{user.phoneNumber}}</h5>
                <a href="{{ path('app_user_edit', {'id': user.id}) }}">Ajouter mes informations</a>
            </div>
        </div>

        {% endfor %}

    {# <a href="{{ path('app_user_new') }}">Create new</a> #}
{% endblock %}
